<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>personal</title>
    <link rel="stylesheet" href="//fonts.lug.ustc.edu.cn/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="/auth.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/favicon.ico">
  </head>
  <body>
  <%= __content__ %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/libsodium-wrappers/0.5.4/sodium.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.10.0/js/md5.min.js"></script>
  <script src="/node_modules/argon2-browser/lib/argon2.js"></script>
  <script src="/main.js"></script>
  <script src="/auth.js"></script>
  <script> 
    function buildSessionForm() {
      var username = document.getElementById('username').value
      buildSession(username)
    }

    function loginForm() {
        var password = document.getElementById('password').value
        login(password)
    }
  </script>
  </body>
</html>
